{% extends 'core/base.html' %}

{% block tittle  %}Acerca de{% endblock %}

{% block content %}

<h2>Acerca de</h2>
<p>En los siguientes link vas a tener toda la información acerca de esta web</p>

<ul><li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li> <li>Nascetur sollicitudin vitae habitant viverra, velit himenaeos augue.</li> <li>Feugiat metus quis aliquet molestie, egestas vitae phasellus.</li> <li>Dapibus ante rutrum habitant commodo, risus pretium.</li> <li>Laoreet himenaeos ante dis, leo donec conubia pulvinar, penatibus per.</li> <li>Torquent arcu curabitur non integer ad sodales, inceptos laoreet nostra justo.</li> <li>Aenean imperdiet dapibus hac egestas, sed per tortor.</li> <li>Vestibulum fusce laoreet a ornare cursus, lectus vitae lacinia feugiat.</li> <li>Neque ligula felis aliquet magna consequat, mattis dis parturient.</li> <li>Neque cum potenti morbi vivamus quis, sed id ac.</li> <li>Nibh euismod sed magnis erat massa, eu pharetra nec tristique.</li> <li>Purus quis sem eleifend ridiculus malesuada litora, tellus tempus nisi rhoncus.</li></ul>

{% endblock %}

